/new-sgc
/node_modules
/vendor
/.idea
/.vagrant
env.php
/docker/.env
/docker/mariadb/data/**/*
/docker/nginx/logs/*

!/docker/mariadb/data/.gitkeep
!/docker/nginx/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/reports/.gitkeep
/storage/*