/node_modules
/vendor
/.idea
/.vagrant
env.php
/docker/.env
/docker/mariadb/data/*
/docker/nginx/logs/*
/storage/cache/*

!/docker/mariadb/data/.gitkeep
!/docker/nginx/logs/.gitkeep
!/storage/cache/.gitkeep
