<?php

putenv('TIMEZONE=UTC');
putenv("APP_KEY=axc0K233dMNF");
putenv("CACHE_TEMPLATE=false");

putenv("DB_HOST=database");
putenv("DB_PORT=3306");
putenv("DB_DATABASE=newsgc");
putenv("DB_USERNAME=newsgc");
putenv("DB_PASSWORD=secret");

putenv("MAIL_USERNAME=email@gmail.com");
putenv("MAIL_PASSWORD=xxxxxx");
putenv("MAIL_PORT=587");

putenv("REDIS_HOST=redis1");
putenv("REDIS_PASSWORD=null");
putenv("REDIS_PORT=6379");
