<div class="modal fade" id="model-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				<p><strong>Do you really want to delete?</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<a href="#" class="btn btn-accent" id="confirm-delete-yes">Yes</a>
			</div>
		</div>
	</div>
</div>



