{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            {{ include('./components/header_page.html') }}
			{% if records['records'] %}
				<div class="row table-responsive">
					<table class="table table-hover table-striped">
						<tr>
							<th>Id</th>
							{% for column in fields %}
								<th>{{ column.label }}</th>
							{% endfor %}
						</tr>

						{% for record in records['records'] %}
							<tr>
								<td>{{ record.id }}</td>
								{% for column in fields %}
									<td>{{ attribute(record, column.field) }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>

				{{ include('./components/partials/pagination.html') }}

			</div>
		{% else %}
			<div class="panel-body">
				No records found.
			</div>
		{% endif %}
	</section>
{% endblock content %}
