{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            {{ include('./components/header_page.html') }}
			{% if records['records'] %}
				<div class="row table-responsive">
					<table class="table table-hover table-striped">
						<tr>
							<th>Id</th>
							{% for column in fields %}
								<th>{{ column.label }}</th>
							{% endfor %}
						</tr>

						{% for record in records['records'] %}
							<tr>
								<td>{{ record.id }}</td>
								{% for column in fields %}
									<td>{{ attribute(record, column.field) }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-12">
							<div class="dataTables_paginate paging_simple_numbers pull-right">
								<ul class="pagination">

									{% if records['previous'] %}
										<li class="paginate_button previous"">
											<a href="{{ records['previous'] }}" aria-controls="tableExample2" data-dt-idx="0" tabindex="0">Previous</a>
										</li>
									{% endif %}

									{% for i in 1..records['total_pages'] %}
										{% if records['page_active'] == i %}
											<li class="paginate_button active">
												<a href="#" data-dt-idx="{{ i }}" tabindex="{{ i }}">{{ i }}</a>
											</li>
										{% else %}
											<li class="paginate_button">
												<a href="?page={{ i }}" data-dt-idx="{{ i }}" tabindex="{{ i }}">{{ i }}</a>
											</li>
										{% endif %}
									{% endfor %}

									{% if records['next'] %}
										<li class="paginate_button next">
											<a href="{{ records['next'] }}" data-dt-idx="{{ records['total_pages']+1 }}" tabindex="{{ records['total_pages']+1 }}">Next</a>
										</li>
									{% endif %}

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="panel-body">
				No records found.
			</div>
		{% endif %}
	</section>
{% endblock content %}
