{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <h1>
                {% trans %}
                    Welcome
                {% endtrans %}
                <div>{{ currency1 }}</div>
                <div>{{ currency2 }}</div>
                <div>{{ currency3 }}</div>
            </h1>
            <h2>
                <div>{{ plural1 }}</div>
                <div>{{ plural2 }}</div>
                <div>{{ plural3 }}</div>
            </h2>

            <h4>
                <div>{{ date1 }}</div>
                <div>{{ date2 }}</div>
                <div>{{ date3 }}</div>
            </h4>
            <h4>
                <div>{{ decimal1 }}</div>
                <div>{{ decimal2 }}</div>
                <div>{{ decimal3 }}</div>
            </h4>
        </div>
    </section>
{% endblock content %}
