{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <h1>
                {% trans %}
                    Welcome
                {% endtrans %}
                <div>{{ v|localizedcurrency('BRL')}}</div>
                <div>{{ v|localizedcurrency('USD')}}</div>
                <div>{{ v|localizedcurrency('RUB')}}</div>
                <div>{{ v|localizedcurrency('BRL')}}</div>
                <div>{{ v|localizedcurrency('BRL')}}</div>
            </h1>
        <h2>
        {% transchoice count1 %}
            {0} There are no apples|{1} There is one apple|]1,Inf[ There are %count1% apples
        {% endtranschoice %}
        </h2>
        <h3>
        {% transchoice count2 %}
            {0} There are no apples|{1} There is one apple|]1,Inf[ There are %count2% apples
        {% endtranschoice %}
        </h3>
        <h4>
            <div>{{ date|localizeddate('medium', 'none') }}</div>
            <div>{{ date|localizeddate('medium', 'none') }}</div>
            <div>{{ date|localizeddate('medium', 'none') }}</div>
        </h4>
        <h4>
            <div>{{ v|localizednumber('decimal', 'default') }}</div>
            <div>{{ v|localizednumber('decimal', 'default') }}</div>
            <div>{{ v|localizednumber('decimal', 'default') }}</div>
        </h4>
        </div>
    </section>
{% endblock content %}
