{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            {{ include('./pages/partials/header_page.html') }}

			{% if success is defined %}
				{% if success %}
					{{ include('./pages/partials/panel_success_delete.html') }}
				{% else %}
					{{ include('./pages/partials/panel_error_delete.html') }}
				{% endif %}
			{% endif %}

			<div class="row">
				<div class="col-lg-12 buttons-margin view-header">
					<a href="/{{ table }}/new" class="btn btn-w-md btn-primary pull-right">Create New</a>
				</div>
			</div>

			{% if records['records'] %}
				<div class="panel-body">
					<div class="table-responsive">
						<table id="table-list" class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Id</th>
									{% for column in fields %}
										<th>{{ column.label }}</th>
									{% endfor %}
									<th class="hidden"></th>
									<th class="hidden"></th>
								</tr>
							</thead>
							<tbody>
								{% for record in records['records'] %}
									<tr>
										<td>{{ record.id }}</td>
										{% for column in fields %}
											<td>{{ attribute(record, column.field) }}</td>
										{% endfor %}
										<td>
											<a href="/{{ table }}/{{ record.id }}/edit"><i class="pe-7s-note2 text-info" style="font-size: 24px"></i></a>
										</td>
										<td>
											<a href="#" class="btn-confirm-delete" data-link="/{{ table }}/{{ record.id }}/delete" data-toggle="modal" data-target="#model-confirm-delete">
												<i class="pe-7s-trash text-danger" style="font-size: 24px"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					{{ include('./pages/partials/pagination.html') }}

				</div>
			{% else %}
				<div class="panel-body">
					No records found.
				</div>
			{% endif %}

			{{ include('./pages/partials/confirm_modal.html') }}

		</div>
	</section>
{% endblock content %}

{% block css %}
	<link rel="stylesheet" href="vendor/datatables/datatables.min.css">
{% endblock css %}

{% block javascript %}
	<script>
		$(document).ready(function () {
			$('#table-list').DataTable({
				"dom": 't'
			});
		});
	</script>
{% endblock javascript %}
