{% extends "./main.html" %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="text-right row">
                <div class="dt-buttons btn-group">
                    <a href="/csv" class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0">
                        <span>CSV</span>
                    </a>
                    <a href="/pdf" class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="1">
                        <span>PDF</span>
                    </a>
					<form action="/users/import" method="POST" enctype="multipart/form-data" class="navbar-form navbar-right" style="margin: 0px">
						<label class="btn btn-default btn-sm" for="file-selector1">
	                        <input id="file-selector1" type="file" name="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val()); $('#btn-file-info').show()">
	                        Import CSV
	                    </label>
						<span class="label label-default" id="upload-file-info"></span>
						<input class="btn btn-sm btn-accent" type="submit" value="Send" style="display: none" id="btn-file-info">
					</form>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock content %}
